/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "../base/variables.css";
@import "../base/typography.css";

.manager .devices-linked,
.manager .devices-unlinked {
  margin-bottom: var(--gutter);
}

.manager .devices-unlinked {
  border: 1px solid yellow;
}

.manager .title {
  inherits: .type-title;
  margin-bottom: var(--gutter);
}

.manager .list {
  border: 1px solid red;
}

.manager .item {
  margin: var(--gutter);
  padding: var(--gutter);
  cursor: move;
  border: 1px solid magenta;
}
