/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "../base/variables.css";

.files .blank-slate {
  margin: var(--gutter);
  padding: var(--gutter);
}

.file {
  margin: 0px var(--gutter);
  padding: var(--gutter);
  background-color: var(--white);
  border-bottom: 1px dashed var(--grey-100);
  box-shadow: var(--drop-shadow);
}
