/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "../base/variables.css";

footer {
  position: relative;
}

footer .add-file {
  display: block;
  position: absolute;
  right: var(--gutter);
  bottom: var(--gutter);
  background-color: grey;
  width: calc(var(--gutter) * 2);
  height: calc(var(--gutter) * 2);
  border-radius: 50%;
  box-shadow: var(--drop-shadow);
  text-indent: -10000px;
  cursor: pointer;
}

footer .add-file.active {
  background-color: var(--deeporange-A200);
}

footer .add-file:hover {
  background-color: var(--cyan-900);
}

footer .add-file:active {
  background-color: var(--cyan-800);
}
