/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@import "./variables.css";

/**
 * Vertical spacing is added to element selectors directly so that type rules
 * can be inherited without effecting the layout of the elements doing the
 * inheritance.
 */
.type-base {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  color: var(--blue-grey-700);
  -webkit-font-smoothing: antialiased;
}

.type-body {
  font-size: 14px;
  line-height: 24px;
}

.type-display3 {
  font-size: 56px;
  font-weight: var(--font-weight-light);
  line-height: 66px;
  color: var(--blue-grey-900);
}

.type-display2 {
  font-size: 40px;
  font-weight: var(--font-weight-regular);
  line-height: 48px;
  color: var(--cyan-700);
}

.type-display1 {
  font-size: 34px;
  font-weight: var(--font-weight-regular);
  line-height: 40px;
  color: var(--cyan-700);
}

.type-headline {
  font-size: 24px;
  font-weight: var(--font-weight-regular);
  line-height: 32px;
  color: var(--blue-grey-500);
}

.type-title {
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  line-height: 30px;
  color: var(--blue-grey-800);
}

.type-caption {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  line-height: 16px;
  color: var(--blue-grey-500);
}

.type-smallhead {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  color: var(--blue-grey-800);
}

.type-subhead {
  font-size: 12px;
  font-weight: var(--font-weight-medium);
  line-height: 14px;
  color: var(--blue-grey-800);
  text-transform: uppercase;
}

.type-bold {
  font-weight: var(--font-weight-medium);
  color: var(--blue-grey-900);
}
